.DataTableRoot {
  background: #77777733;
  display: grid;
}

.DataTableFooter {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  border: 2px solid black;
}

.DataTableHeader {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-bottom: black solid 2px;
}

.DataTableBody { 
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background: red;
}

.DataRow {
  background: gray;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  align-content: center;
}

.DataCell {
  padding: 16px;
}

.DataCell2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 10px;
  padding: 16px;
}

.HeaderDataCell {
  padding: 16px;
  font-size: 1.2em;
}

.justify-left {
  justify-self: start;
}

.justify-right {
  justify-self: end;
}
